# Default values of various Config parameters for TACACS Authentication Proxy

# DO NOT comment out any parameter, tacacs proxy service will not start

# IP Address of TACACS server (Port 49 will be used)
TACACS_SERVER_ADDRESS=127.0.0.1

# Key to use connection encryption with TACACS server
TACACS_SECURE_KEY=tacacs

# How to handle Connection error with TACACS server.
# Value of 1 will fallback to PASS reply (as if Auth against TACACS was successful) and request will be forwarded to openolt agent
# Value of 0 will consider it as FAIL reply and error would be returned
TACACS_FALLBACK_PASS=1

# Listen Address on which to start the Server
INTERFACE_ADDRESS=127.0.0.1:19191

# Address of Openolt Agent
OPENOLT_AGENT_ADDRESS=127.0.0.1:9191

